<div class="outercontainer">
	<div class="choosenones" *ngFor="let choosenone of oChoosenOnes">
		<div class="choosenplanet">
			<span class="planet">Planet:{{choosenone.planet}}</span>        
      <app-reload class="reload"></app-reload>
    </div>

    <div class="choosenvehicle">
      <span class="vehicle">Vehicle:{{choosenone.vehicle}}</span>    
      <span> <app-reload class="reload"></app-reload></span>
    </div>

    <div class="choosentime">
      <span class="time">Time:{{choosenone.time}}</span>          
    </div>
  </div>	
</div>